.vscode
README.md
.gitignore

cmd/cli/data/logs
cmd/cli/data/raft
cmd/cli/data/data

cmd/store/logs
cmd/store/geo
cmd/store/data
cmd/client
scripts

pkg/jobs/creds
pkg/jobs/test-config.json

pkg/services/geocode/test-config.json

pkg/services/filestorage/creds
pkg/services/filestorage/test-config.json
