.DS_Store
.certs
.policies

cmd/store/creds
cmd/store/config.json
cmd/store/data
cmd/store/logs
cmd/store/geo

cmd/client/logs

pkg/jobs/creds
pkg/jobs/test-config.json

pkg/services/filestorage/creds
pkg/services/filestorage/test-config.json

pkg/services/geocode/creds
pkg/services/geocode/test-config.json
