.DS_Store
cmd/store/__debug_bin
cmd/store/config.json
cmd/store/.certs
cmd/store/creds
cmd/store/data
cmd/store/logs
cmd/store/geo

cmd/client/.certs
cmd/client/logs

internal/.certs

pkg/jobs/creds
pkg/jobs/test-config.json

pkg/services/filestorage/creds
pkg/services/filestorage/test-config.json

pkg/services/geocode/creds
pkg/services/geocode/test-config.json
